// symantic color names
$dark-purple:#0F0637;
$white: #EBEBEB;
$dark-grey: #272727;
$blue: #7B8AEC;
$light-tan: #666666;

$dark-contrast: $dark-purple; // darkest color
$light-contrast: $white; // lightest color
$dark-accent: $dark-grey; // middle accent color
$pop-color: $blue; // color that pops