@use 'atoms';
@use 'molecules';
@use 'organisms';
@use 'variables';

// Mixins
@import url("https://use.typekit.net/pir7ghc.css");

@mixin primaryFont {
    font-family: "futura-pt", sans-serif;
    font-weight: 500;
    font-style: normal;
};

@mixin secondaryFont {
    font-family: "adelle", serif;
    font-weight: 400;
    font-style: normal;
};

@media only screen and (min-width:992px) {

    .page-wrapper {
        display: grid;
        grid-template-columns: 1fr 2fr 2fr 2fr 2fr 1fr;
        grid-template-rows: auto;
    }

    .intro,
    .main {
        grid-column: 2/5;
    }

    .sidebar {
        grid-column: 5/6;
        grid-row: 1/3;
        background-color: #f0f0f0;
    }

    .explanation,
    .participation,
    .requirements {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .explanation p,
    .participation p,
    .requirements p {
        margin: 1rem;
    }

    .explanation h3,
    .participation h3,
    .benefits h3,
    .requirements h3,
    [role=contentinfo] {
        grid-column: 1/3;
    }

    [role=contentinfo],
    footer {
        display: flex;
        justify-content: center;
    }

    .intro {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    header,
    .summary {
        grid-column: 2/3;
    }

    .preamble {
        grid-column: 1/3;
    }

    h1,
    h2 {
        display: flex;
        justify-content: flex-end;
    }

    h2:hover {
        background-color: grey;
        color:white;
      }

    h3:hover {
    background-color: grey;
    color:white;
    }

    p:hover{
    background-color: grey;
    color:white;   
    };

};